@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght,CASL,CRSV,MONO@300,0,0.5,0;345,1,1,1;400,0,0.5,0;500,0,0.5,0;600,0,0.5,0;700,0,0.5,0&display=swap');

@media (max-width: 614px) {
    body {
        background-color: #FB6B6B;
        font-family: 'Recursive', sans-serif;
        font-weight: 400;
        color: #333333;
    }
    
    h1 {
        margin: 25px 0 42px 0;
        font-size: 36px;
        font-family: 'Righteous', cursive;
        color: #ffffff;
    }

    .boasVindas {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;
    }

    .boasVindas img {
        width: 136px;
        height: 161px;
        margin-bottom: 30px;
    }

    .boasVindas button {
        font-family: 'Recursive', sans-serif;
        background-color: #FFFFFF;
        width: 246px;
        height: 54px;
        border-radius: 5px;
        border: solid 1px #D70900;
        color: #D70900;
        font-size: 18px;
        font-weight: 400;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    .centralizar {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .topo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 255.61px;
        height: 60px;
        margin: 40px auto 50px auto;
    }

    .topo img {
        width: 52px;
        margin-right: 20px;
    }

    .topo h2 {
        font-family: 'Righteous', cursive;
        font-size: 36px;
        color: #FFFFFF;
    }

    .perguntas {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        height: 65px;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        background-color: #FFFFFF;
        margin: 20px auto auto auto;
        overflow-y: scroll;
    }

    .perguntas img {
        margin-right: 15px;
    }

    .perguntas p {
        font-family: 'Recursive', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #333333;
        margin-left: 15px;
    }

    .borda {
        background-color: #FFFFFF;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 0;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    }

    .borda p {
        font-family: 'Recursive', sans-serif;
        font-size: 18px;
        color: #333333;
    }
}